#userRowGuess {

	display: none;

}

#gameDifficultyButtons {

	text-align: center;

	margin-top: 50px;


}

#gameInfo{

	display: none;

}

.form-horizontal{

	border: 1px solid black;

}
.btn-difficulty { 
  color: #FFFFFF; 
  background-color: #F06E3E; 
  border-color: #F06E3E; 
  font-family: 'Berkshire Swash', cursive;

  margin-bottom: 10px;

  font-size: 2em;

  border-radius: 50px 50px 50px 50px;



} 
 
.btn-difficulty:hover, 
.btn-difficulty:focus, 
.btn-difficulty:active, 
.btn-difficulty.active, 
.open .dropdown-toggle.btn-difficulty { 

  color: #FFFFFF; 
  background-color: ; 
  border-color: #F06E3E;

} 
 
.btn-difficulty:active, 
.btn-difficulty.active, 
.open .dropdown-toggle.btn-difficulty { 

  background-image: none; 

} 
 
.btn-difficulty.disabled, 
.btn-difficulty[disabled], 
fieldset[disabled] .btn-difficulty, 
.btn-difficulty.disabled:hover, 
.btn-difficulty[disabled]:hover, 
fieldset[disabled] .btn-difficulty:hover, 
.btn-difficulty.disabled:focus, 
.btn-difficulty[disabled]:focus, 
fieldset[disabled] .btn-difficulty:focus, 
.btn-difficulty.disabled:active, 
.btn-difficulty[disabled]:active, 
fieldset[disabled] .btn-difficulty:active, 
.btn-difficulty.disabled.active, 
.btn-difficulty[disabled].active, 
fieldset[disabled] .btn-difficulty.active { 

  background-color: #F06E3E; 
  border-color: #F06E3E; 

} 
 
.btn-difficulty .badge { 

  color: #F06E3E; 
  background-color: #FFFFFF; 

}

.welcome {

	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	font-size: 4em;
	color: #fff;

}

.setting {

	margin-top: 50px;

	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	font-size: 2.7em;
	color: #fff;

}

.navbar-inverse {

	background-color: #fff;
	font-family: 'Berkshire Swash', cursive;

}

.navbar-inverse .navbar-brand {

	color: black;

}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {

	color: black;

}

.jumbotron {


	text-align: center;

	font-family: 'Berkshire Swash', cursive;

	letter-spacing: 30px;

	font-size: 2.5em;

}

.format1 {


	font-size: 3em;

	letter-spacing: 3px;

	margin-top: 20px;

	margin-bottom: 20px;

}

.userGuessArray {


	padding: 50px;

}

#win{

	display: none;

	font-family: 'Berkshire Swash', cursive;

	color: #fff;

	font-size: 15em;

	text-align: center;



}

#newGameWin{

	font-size: .2em;

	border-radius: 50px 50px 50px 50px;

	


}

#loss{

	display: none;

	font-family: 'Berkshire Swash', cursive;

	color: #fff;

	font-size: 10em;

	text-align: center;



}

#newGameLoss{

	font-size: .3em;

	border-radius: 50px 50px 50px 50px;

}

.score{

	margin-top: 100px;

	font-family: 'Berkshire Swash', cursive;

	text-align: center;

	font-size: 4em;

	color: #fff;

}

.score1{
	
	margin-top: 50px;

	font-family: 'Berkshire Swash', cursive;
	
	text-align: center;

	font-size: 3em;

	color: #fff;

}

.under{


	text-decoration: underline;

}

#info{

	font-size: 1.2em;
	margin-top: 10px;

	float: right;
	

}

.rules {


	font-size: 2em;

}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

#pause{

	margin-left: 80px;


}

.btn-danger {

	background-color: #F06E3E; 
  	border-color: #F06E3E; 

}

.btn-danger:hover {
		
	background-color: #F06E3E; 
  	border-color: #F06E3E;

}

.btn-danger.focus, .btn-danger:focus {

	background-color: #F06E3E; 
  	border-color: #F06E3E;

}

.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {

	background-color: #F06E3E; 
  	border-color: #F06E3E;

}

.btn-danger:active:hover{
	
	background-color: #F06E3E; 
  	border-color: #F06E3E;

}

#play {

	display: none;
	margin-left: 80px;


}





